{% extends "encyclopedia/layout.html" %}

{% block title %}
    New Page
{% endblock %}

{% block body %}
    <h1>Create New Page</h1>

    <form method="POST">
        <div>
            <input type="text" name="title" placeholder="Enter Title">
        </div>

        <br>
        
        <div>
            <textarea style="height:700px; width: 800px;" name="markdown" placeholder="Enter Markdown Content"></textarea>
        </div>

        <div>
            <input type="submit" name="new" value="Submit">
        </div>
    </form>
{% endblock %}