{% extends "encyclopedia/layout.html" %}

{% block title %}
    Create Page
{% endblock %}

{% block body %}
    <h1>Edit Page</h1>

    <form method="POST">
        {% csrf_token %}

        <div>
            <input type="text" name="title" value="{{ title }}">
        </div>

        <br>
        
        <div>
            <textarea name="markdown">{{ markdown }}</textarea>
        </div>

        <div>
            <input type="submit" class="btn btn-primary" value="Save">
        </div>
    </form>
{% endblock %}